asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Django==3.0.2
django-crispy-forms==1.7.2
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
djangorestframework-simplejwt==4.1.0
idna==2.9
Pillow==6.1.0
PyJWT==1.7.1
pytz==2019.3
requests==2.23.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.8
