{% extends 'github/base.html ' %}
{% block title %}Homepage{% endblock %}
{% block Home-content %}
<section class="full-section full-height ">
        <!-- <nav class=top-nav> -->
            <form name="search" class="top-nav" action="" onsubmit="return validateForm()" method="GET">
                <input name="search-input" id="search-bar" placeholder="Search Git Https://"></input>
                <button type="submit" class="in-line icon"> <i class="fas fa-search"></i> </button>
            </form>
        <!-- </nav> -->
        <!-- <p class="no-marg lg-text">Git Gud</p> -->
</section>
{% endblock %}
