{% extends 'github/base.html ' %}
{% load widget_tweaks %}
{% block title %}Homepage{% endblock %}
{% block content %}
<section class="full-section full-height ">
        <!-- <nav class=top-nav> -->
            <form class="top-nav" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.base_url | add_class:"search-bar"}}
                <button type="submit" class="in-line icon"> <i class="fas fa-search"></i> </button>
            </form>
            <a href="{% url 'searches' %}">Previous Searches</a>
        <!-- </nav> -->
        <!-- <p class="no-marg lg-text">Git Gud</p> -->
</section>
{% endblock %}
