{% extends 'github/base.html ' %}
{% block title %}Info Page{% endblock %}
{% block content %}
    {% include 'github/header.html' %} 
    <section class="full-section full-height">
        <!-- {% for commit in commits %}
            {{ commit.msg }}
            <br>
            {{ commit.date }}
        {% endfor %}
        <br><br><br>
        {% for language in languages %}
            {{ language.name }}
            <br>
            {{ language.percent }}
        {% endfor %}
        <br><br><br>
        {{ contributors.number }} -->
        <p id="num_commits">Number of Commits</p>
        <div class="row">
            <div class="row-item">
                <canvas style="width: 45vw;" class="in-line" id="line-chart"></canvas>
            </div>
            <div class="row-item">
                <canvas style="width: 45vw;" class="in-line" id="pie-chart"></canvas>
            </div>
        </div>
    </section>

    <script>
        var com_dates = [];
        var com_num = [];
        var index = -1;
        var totalCom = 0;
        {% for commit in commits %}
            if (!com_dates.includes("{{ commit.date }}")){
                com_dates.push("{{ commit.date }}");
                index++;
                com_num[index] = 1;
            } 
            else {
                com_num[index]++;
            }
            totalCom++;
        {% endfor %}
        
        document.getElementById('num_commits').innerHTML = "Total Commits:" + totalCom;

        var line_ctx = document.getElementById('line-chart').getContext('2d');
        var line_chart = new Chart(line_ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: com_dates,
            datasets: [{
                label: 'Commit Frequency',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: com_num
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                yAxes: [{
                    id:'main-axis',
                    ticks: {
                        stepSize: 15 // this worked as expected
                            }
                    }],
                    }
        }
    });

    var language_names = [];
    var language_percents= [];
    {% for language in languages %}
        language_names.push("{{ language.name }}");
        // var percent = parseInt("{{ language.percent }}");
        var percent = "{{ language.percent }}";
        percent = percent.substring(0, percent.length - 1);
        language_percents.push(Number(percent));
    {% endfor %}

    var pie_ctx = document.getElementById('pie-chart').getContext('2d');
    var pie_chart = new Chart(pie_ctx, {
    // The type of chart we want to create
    type: 'pie',

    // The data for our dataset

    data: {
        labels: language_names,
        datasets: [{
            label: 'My First dataset',
            backgroundColor: [ 'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                ],
            borderColor: 'rgb(255, 99, 132)',
            data: language_percents,
        }]
    },

    // Configuration options go here
    options: {}
    });
    </script>
{% endblock %}
