{% extends 'github/base.html ' %}
{% block title %}Info Page{% endblock %}
{% block content %}
    {% block header %} {% endblock %} 
    <section class="full-section full-height">
        {% for commit in commits %}
            {{ commit.msg }}
            <br>
            {{ commit.date }}
        {% endfor %}
        <br><br><br>
        {% for language in languages %}
            {{ language.name }}
            <br>
            {{ language.percent }}
        {% endfor %}
        <br><br><br>
        {{ contributors.number }}
        <p>Number of Commits</p>
        <div class="row">
            <div class="row-item">
                <canvas style="width: 40vw;" class="in-line" id="line-chart"></canvas>
            </div>
            <div class="row-item">
                <canvas style="width: 40vw;" class="in-line" id="pie-chart"></canvas>
            </div>
        </div>
    </section>

    <script src="myCharts.js"></script>
{%endblock%}